<div class="row pt-3" *ngIf="collectionSize > pageSize">
  <div class="col-sm-12 col-md-5 d-flex align-items-center">
    Pagina {{pageSize}} di {{collectionSize/pageSize}}
  </div>
  <div class="col-sm-12 col-md-7 d-flex justify-content-end align-items-center">
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize" (pageChange)="pageEmit()">
      <ng-template ngbPaginationPrevious>Indietro</ng-template>
      <ng-template ngbPaginationNext>Avanti</ng-template>
    </ngb-pagination>
  </div>
</div>
