.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  color: #495057;
  display: block;
  font-size: 0.825rem;
  font-weight: 400;
  line-height: 1.625;
  padding: 0.25rem 0.7rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}



.form-control[type="file"] {
  overflow: hidden;
}

.form-control[type="file"]:not(:disabled):not([readonly]) {
  cursor: pointer;
}

.form-control:focus {
  background-color: #fff;
  border-color: #9fc0f5;
  box-shadow: 0 0 0 0.25rem rgba(63, 128, 234, 0.25);
  color: #495057;
  outline: 0;
}

.form-control::-webkit-date-and-time-value {
  height: 1.625em;
  margin: 0;
  min-width: 85px;
}

.form-control::-webkit-datetime-edit {
  display: block;
  padding: 0;
}

.form-control::-moz-placeholder {
  color: var(--bs-secondary-color);
  opacity: 1;
}

.form-control::placeholder {
  color: var(--bs-secondary-color);
  opacity: 1;
}

.form-control:disabled {
  background-color: #e2e8ee;
  opacity: 1;
}

.form-control::-webkit-file-upload-button {
  -webkit-margin-end: 0.7rem;
  background-color: var(--bs-tertiary-bg);
  border: 0 solid;
  border-color: inherit;
  border-inline-end-width: 1px;
  border-radius: 0;
  color: #495057;
  margin: -0.25rem -0.7rem;
  margin-inline-end: 0.7rem;
  padding: 0.25rem 0.7rem;
  pointer-events: none;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::file-selector-button {
  -webkit-margin-end: 0.7rem;
  background-color: var(--bs-tertiary-bg);
  border: 0 solid;
  border-color: inherit;
  border-inline-end-width: 1px;
  border-radius: 0;
  color: #495057;
  margin: -0.25rem -0.7rem;
  margin-inline-end: 0.7rem;
  padding: 0.25rem 0.7rem;
  pointer-events: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: var(--bs-secondary-bg);
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: var(--bs-secondary-bg);
}

.form-control-plaintext {
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
  color: var(--bs-body-color);
  display: block;
  line-height: 1.625;
  margin-bottom: 0;
  padding: 0.25rem 0;
  width: 100%;
}

.form-control-plaintext:focus {
  outline: 0;
}

.form-control-plaintext.form-control-lg,
.form-control-plaintext.form-control-sm {
  padding-left: 0;
  padding-right: 0;
}

.form-control-sm {
  border-radius: var(--bs-border-radius-sm);
  font-size: 0.75rem;
  min-height: calc(1.51875rem + 2px);
  padding: 0.15rem 0.5rem;
}

.form-control-sm::-webkit-file-upload-button {
  -webkit-margin-end: 0.5rem;
  margin: -0.15rem -0.5rem;
  margin-inline-end: 0.5rem;
  padding: 0.15rem 0.5rem;
}

.form-control-sm::file-selector-button {
  -webkit-margin-end: 0.5rem;
  margin: -0.15rem -0.5rem;
  margin-inline-end: 0.5rem;
  padding: 0.15rem 0.5rem;
}

.form-control-lg {
  border-radius: var(--bs-border-radius-lg);
  font-size: 0.95rem;
  min-height: calc(2.44375rem + 2px);
  padding: 0.45rem 1.25rem;
}

.form-control-lg::-webkit-file-upload-button {
  -webkit-margin-end: 1.25rem;
  margin: -0.45rem -1.25rem;
  margin-inline-end: 1.25rem;
  padding: 0.45rem 1.25rem;
}

.form-control-lg::file-selector-button {
  -webkit-margin-end: 1.25rem;
  margin: -0.45rem -1.25rem;
  margin-inline-end: 1.25rem;
  padding: 0.45rem 1.25rem;
}

textarea.form-control {
  min-height: calc(1.84063rem + 2px);
}

textarea.form-control-sm {
  min-height: calc(1.51875rem + 2px);
}

textarea.form-control-lg {
  min-height: calc(2.44375rem + 2px);
}

.form-control-color {
  height: calc(1.84063rem + 2px);
  padding: 0.25rem;
  width: 3rem;
}

.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}

.form-control-color::-moz-color-swatch {
  border: 0 !important;
  border-radius: var(--bs-border-radius);
}

.form-control-color::-webkit-color-swatch {
  border: 0 !important;
  border-radius: var(--bs-border-radius);
}

.form-control-color.form-control-sm {
  height: calc(1.51875rem + 2px);
}

.form-control-color.form-control-lg {
  height: calc(2.44375rem + 2px);
}

.form-select {
  --bs-form-select-bg-img: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23020202' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: var(--bs-form-select-bg-img),
    var(--bs-form-select-bg-icon, none);
  background-position: right 0.7rem center;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  color: #495057;
  display: block;
  font-size: 0.825rem;
  font-weight: 400;
  line-height: 1.625;
  padding: 0.25rem 2.1rem 0.25rem 0.7rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}

.input-group {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.input-group-text {
  align-items: center;
  background-color: var(--bs-tertiary-bg);
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  color: #495057;
  display: flex;
  font-size: 0.825rem;
  font-weight: 400;
  line-height: 1.625;
  padding: 0.25rem 0.7rem;
  text-align: center;
  white-space: nowrap;
}

.input-group>.form-floating:not(:first-child)>.form-control,
.input-group>.form-floating:not(:first-child)>.form-select {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-toolbar .input-group {
  width: auto;
}

.input-group-navbar .btn,
.input-group-navbar .form-control {
  background: #f3f6fb;
  border: 0;
  box-shadow: none;
  height: calc(2.44375rem + 2px);
  padding: 0.45rem 0.75rem;
}

.input-group-navbar .btn:focus,
.input-group-navbar .form-control:focus {
  background: #f3f6fb;
  box-shadow: none;
  outline: 0;
}

.input-group-navbar .btn {
  color: #6c757d;
}

.input-group-navbar .btn .feather {
  height: 20px;
  width: 20px;
}

.input-group-navbar {
  min-width: 240px;
}

.input-group [data-toggle="datetimepicker"] {
  cursor: pointer;
}
