i-feather {
  margin-right: 0.6rem !important;
}

nav {
  height: 100%;
}

.active-link {
  color: #568fed;
  font-weight: 400;
}

.sidebar-footer {
  background: #333b52;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-radius: 0.3rem;
  margin: 1.75rem;
  padding: 10px;
  color: #e9ecef;
}

